
<div ng-controller="mainViewCtrl as ctrl">
    <h1 class="md-display-3 center">
        Реєстрацію {{ !ctrl.isLoading && ctrl.isRegistrationOpen ? 'відкрито' : 'закрито' }}
    </h1>
    <md-card ng-if="isAuthenticated" class="main-card">
        <div class="switch-block">
            <md-switch ng-model="ctrl.isRegistrationOpen"
                       ng-disabled="ctrl.isLoading" ng-change="ctrl.onChange()" aria-label="Реєстрація">
                Реєстрація абітурієнтів
            </md-switch>
        </div>
    </md-card>
</div>
