<md-card id="main-card" ng-controller="studentApplicationCtrl as ctrl">
    <img id="application-logo" ng-src="{{ctrl.form.logo}}" class="md-card-image">
    <md-card-content layout="row" layout-align="space-between">
        <form name="applicationForm" ng-submit="applicationForm.$valid && ctrl.submit()">
            <div id="heading">
                <p class="md-subhead">
                    Для того, щоб заповнити цю анкету, будь ласка, спочатку підготуйте скан-копії або фото в
                    добрій якості таких документів: паспорт (перша,  друга сторінки та сторінка з пропискою),
                    ідентифікаційний номер, ваше портретне фото, диплом (в разі відсутності - атестат про повну
                    загальну середню освіту) та додаток до нього, а також медичну довідку форми 086-у.
                </p>
                <p ng-show="ctrl.student.program.name != ctrl.radios.program.prml" class="md-body-1 prml-hide">
                    *Для переходу на анкету ПРМЛ, оберіть нижче у списку "Програма розвитку молодих лідерів".
                    Це партнерська програма між УБТС та регіональними біблійними коледжами.
                    Студенти ПРМЛ є одночасно студентами і семінарії і коледжів.
                </p>
                <p ng-show="ctrl.student.program.name == ctrl.radios.program.prml" class="md-body-1">
                    *ПРМЛ - це партнерська програма між УБТС та регіональними біблійними коледжами. Студенти
                    ПРМЛ є одночасно студентами і семінарії і коледжів.
                </p>
            </div>
            <div id="program">
                <h3 class="md-title">За якою програмою бажаєте навчатися?</h3>
                <md-radio-group ng-model="ctrl.student.program.name">
                    <div ng-show="ctrl.student.program.name != ctrl.radios.program.prml" class="prml-hide">
                        <md-radio-button class="md-primary" ng-value="ctrl.radios.program.bps">
                            {{ctrl.radios.program.bps}}
                        </md-radio-button>
                        <md-radio-button class="md-primary" ng-value="ctrl.radios.program.bcsOnc">
                            {{ctrl.radios.program.bcsOnc}}
                        </md-radio-button>
                        <md-radio-button class="md-primary" ng-value="ctrl.radios.program.bcsOrcs">
                            {{ctrl.radios.program.bcsOrcs}}
                        </md-radio-button>
                        <md-radio-button class="md-primary" ng-value="ctrl.radios.program.bcsJs">
                            {{ctrl.radios.program.bcsJs}}
                        </md-radio-button>
                        <div class="inner-radio"
                             ng-show="ctrl.student.program.name == ctrl.radios.program.bcsJs">
                            <md-radio-group ng-model="ctrl.radios.programInfo.bcsJsTerm">
                                <md-radio-button ng-value="ctrl.radios.programInfo.bcsJs.lviv2y">
                                    {{ctrl.radios.programInfo.bcsJs.lviv2y}}
                                </md-radio-button>
                                <md-radio-button ng-value="ctrl.radios.programInfo.bcsJs.lviv4y">
                                    {{ctrl.radios.programInfo.bcsJs.lviv4y}}
                                </md-radio-button>
                                <md-radio-button ng-value="ctrl.radios.programInfo.bcsJs.irpin2y">
                                    {{ctrl.radios.programInfo.bcsJs.irpin2y}}
                                </md-radio-button>
                                <md-radio-button ng-value="ctrl.radios.programInfo.bcsJs.irpin4y">
                                    {{ctrl.radios.programInfo.bcsJs.irpin4y}}
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                        <md-radio-button class="md-primary" ng-value="ctrl.radios.program.bmMm">
                            {{ctrl.radios.program.bmMm}}
                        </md-radio-button>
                        <div class="inner-radio" ng-show="ctrl.student.program.name == ctrl.radios.program.bmMm">
                            <md-radio-group ng-model="ctrl.radios.programInfo.bmTerm">
                                <md-radio-button ng-value="ctrl.radios.programInfo.bm.twoYears">
                                    {{ctrl.radios.programInfo.bm.twoYears}}
                                </md-radio-button>
                                <md-radio-button ng-value="ctrl.radios.programInfo.bm.fourYears">
                                    {{ctrl.radios.programInfo.bm.fourYears}}
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                        <md-radio-button class="md-primary" ng-value="ctrl.radios.program.bms">
                            {{ctrl.radios.program.bms}}
                        </md-radio-button>
                    </div>
                    <md-radio-button ng-click="ctrl.prmlApplication($state)" class="md-primary"
                                     ng-value="ctrl.radios.program.prml">
                        {{ctrl.radios.program.prml}}
                    </md-radio-button>
                    <div class="inner-radio" ng-show="ctrl.student.program.name == ctrl.radios.program.prml">
                        <md-radio-group ng-model="ctrl.radios.programInfo.prmlRegion">
                            <md-radio-button ng-value="ctrl.radios.programInfo.prml.lviv">
                                {{ctrl.radios.programInfo.prml.lviv}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.programInfo.prml.rivne">
                                {{ctrl.radios.programInfo.prml.rivne}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.programInfo.prml.khmel">
                                {{ctrl.radios.programInfo.prml.khmel}}
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </md-radio-group>
            </div>
            <div id="personal-data">
                <h3 class="md-headline center">Особисті дані</h3>
                <md-input-container class="md-block">
                    <label>Прізвище</label>
                    <input required name="lastName" ng-model="ctrl.student.lastName">
                    <div ng-messages="applicationForm.lastName.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Ім'я</label>
                    <input required name="firstName" ng-model="ctrl.student.firstName">
                    <div ng-messages="applicationForm.firstName.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>По батькові</label>
                    <input required name="middleName" ng-model="ctrl.student.middleName">
                    <div ng-messages="applicationForm.middleName.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-datepicker
                            ng-model="ctrl.form.student.birthDate"
                            name="birthDate"
                            md-placeholder="Дата народження"
                            md-min-date="ctrl.minDate"
                            md-max-date="ctrl.maxDate"
                            required>
                    </md-datepicker>
                    <div ng-messages="applicationForm.birthDate.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Телефон 1</label>
                    <input required name="phone1" ng-model="ctrl.student.phone1">
                    <div ng-messages="applicationForm.phone1.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Телефон 2</label>
                    <input name="phone2" ng-model="ctrl.student.phone2">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Електронна пошта</label>
                    <input required name="email" ng-model="ctrl.student.email" type="email">
                    <div ng-messages="applicationForm.email.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <h3 class="md-headline center">Адреса фактичного місця проживання</h3>
                <md-input-container class="md-block">
                    <label>Країна</label>
                    <input required name="country" ng-model="ctrl.student.residence.country">
                    <div ng-messages="applicationForm.country.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Область</label>
                    <input required name="region" ng-model="ctrl.student.residence.region">
                    <div ng-messages="applicationForm.region.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Місто/село</label>
                    <input required name="cityVillage" ng-model="ctrl.student.residence.cityVillage">
                    <div ng-messages="applicationForm.cityVillage.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Індекс</label>
                    <input required name="index" ng-model="ctrl.student.residence.index">
                    <div ng-messages="applicationForm.index.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Район</label>
                    <input name="district" ng-model="ctrl.student.residence.district">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Вулиця</label>
                    <input required name="street" ng-model="ctrl.student.residence.street">
                    <div ng-messages="applicationForm.street.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Номер будинку</label>
                    <input required name="house" ng-model="ctrl.student.residence.house">
                    <div ng-messages="applicationForm.house.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Номер квартири</label>
                    <input name="apartment" ng-model="ctrl.student.residence.apartment">
                </md-input-container>
            </div>
            <div id="education">
                <h3 class="md-headline center">Дані про світську освіту</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.student.education">
                    <md-radio-button ng-value="ctrl.radios.education.secondaryEducation">
                        {{ctrl.radios.education.secondaryEducation}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.education.vocationalEducation">
                        {{ctrl.radios.education.vocationalEducation}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.education.incompleteHigherEducation">
                        {{ctrl.radios.education.incompleteHigherEducation}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.education.higherEducation">
                        {{ctrl.radios.education.higherEducation}}
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div id="marital-data">
                <h3 class="md-headline center">Сімейний стан</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.student.maritalData.status">
                    <md-radio-button ng-value="ctrl.radios.maritalStatus.notMarried">
                        {{ctrl.radios.maritalStatus.notMarried}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.maritalStatus.married">
                        {{ctrl.radios.maritalStatus.married}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.maritalStatus.widow">
                        {{ctrl.radios.maritalStatus.widow}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.maritalStatus.divorced">
                        {{ctrl.radios.maritalStatus.divorced}}
                    </md-radio-button>
                </md-radio-group>
                <div id="marital-details" class="big-block"
                     ng-show="ctrl.student.maritalData.status == ctrl.radios.maritalStatus.married">
                    <md-input-container class="md-block">
                        <label>П.І.Б. дружини/чоловіка</label>
                        <input ng-required="ctrl.student.maritalData.status == ctrl.radios.maritalStatus.married"
                               name="maritalStatus" ng-model="ctrl.student.maritalData.spouseName">
                        <div ng-messages="applicationForm.maritalStatus.$error">
                            <div ng-message="required">Обов'язкове поле.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-datepicker
                                ng-model="ctrl.form.student.maritalData.marriageDate"
                                name="marriageDate"
                                md-placeholder="Дата реєстрації шлюбу"
                                md-min-date="ctrl.minDate"
                                md-max-date="ctrl.maxDate"
                                ng-required="ctrl.student.maritalData.status == ctrl.radios.maritalStatus.married">
                        </md-datepicker>
                        <div ng-messages="applicationForm.marriageDate.$error">
                            <div ng-message="required">Обов'язкове поле.</div>
                        </div>
                    </md-input-container>
                    <h5 class="md-subhead">Чи є ваша дружина/чоловік членом церкви?</h5>
                    <md-radio-group class="md-primary" ng-model="ctrl.form.student.maritalData.isSpouseChurchMember">
                        <md-radio-button ng-value="true">
                            {{ctrl.radios.answers.yes}}
                        </md-radio-button>
                        <md-radio-button ng-value="false">
                            {{ctrl.radios.answers.no}}
                        </md-radio-button>
                    </md-radio-group>
                    <div id="church-ministry-input" ng-show="ctrl.form.student.maritalData.isSpouseChurchMember">
                        <md-input-container class="md-block">
                            <label>Яке служіння звершує церкві?</label>
                            <textarea name="spouseChurchService"
                                      ng-model="ctrl.form.student.maritalData.spouseChurchService"
                                      ng-required="ctrl.student.maritalData.status ==
                                                  ctrl.radios.maritalStatus.married
                                                  && ctrl.form.student.maritalData.isSpouseChurchMember"
                                      md-maxlength="300"></textarea>
                            <div ng-messages="applicationForm.spouseChurchService.$error"
                                 ng-show="applicationForm.spouseChurchService.$dirty">
                                <div ng-message="required">Обов'язкове поле.</div>
                                <div ng-message="md-maxlength">Довжина поля перевищує максимально допустиму!</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <span>Скільки у вас дітей?</span>
                        <md-select ng-model="ctrl.form.student.maritalData.childrenNumber">
                            <md-option ng-repeat="i in ctrl.optionsArray" ng-value="i"">{{i}}</md-option>
                        </md-select>
                    </div>
                    <h5 class="md-subhead">Чи підтримує дружина/чоловік ваше бажання навчатися в семінарії?</h5>
                    <md-radio-group class="md-primary" ng-model="ctrl.form.student.maritalData.isSpouseApproveSeminary">
                        <md-radio-button ng-value="true">
                            {{ctrl.radios.answers.yes}}
                        </md-radio-button>
                        <md-radio-button ng-value="false">
                            {{ctrl.radios.answers.no}}
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div id="church">
                <h3 class="md-headline center">Інформація про церкву та служіння</h3>
                <h3 class="md-subhead">Чи є ви членом церкви на даний час?</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.form.student.isChurchMember">
                    <md-radio-button ng-value="true">
                        {{ctrl.radios.answers.yes}}
                    </md-radio-button>
                    <md-radio-button ng-value="false">
                        {{ctrl.radios.answers.no}}
                    </md-radio-button>
                </md-radio-group>
                <div class="big-block" ng-show="ctrl.form.student.isChurchMember">
                    <div id="church-data">
                        <h3 class="md-subhead center">Дані про церкву, членом якої ви є</h3>
                        <md-input-container class="md-block">
                            <label>Повна назва церкви</label>
                            <input ng-required="ctrl.form.student.isChurchMember"
                                   name="churchName" ng-model="ctrl.form.student.churchData.name">
                            <div ng-messages="applicationForm.churchName.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>П.І.Б. пастора</label>
                            <input ng-required="ctrl.form.student.isChurchMember"
                                   name="pastorName" ng-model="ctrl.form.student.churchData.pastorName">
                            <div ng-messages="applicationForm.pastorName.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Союз чи об'єднання, в яке входить церква</label>
                            <input ng-required="ctrl.form.student.isChurchMember"
                                   name="churchUnion" ng-model="ctrl.form.student.churchData.union">
                            <div ng-messages="applicationForm.churchUnion.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Деномінація</label>
                            <input ng-required="ctrl.form.student.isChurchMember"
                                   name="denomination" ng-model="ctrl.form.student.churchData.denomination">
                            <div ng-messages="applicationForm.denomination.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <h3 class="md-subhead">Кількість членів</h3>
                        <md-radio-group class="md-primary" ng-model="ctrl.form.student.churchData.membersNumber">
                            <md-radio-button ng-value="ctrl.radios.membersNumber.lessThen10">
                                {{ctrl.radios.membersNumber.lessThen10}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.membersNumber.from10to20">
                                {{ctrl.radios.membersNumber.from10to20}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.membersNumber.from20to100">
                                {{ctrl.radios.membersNumber.from20to100}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.membersNumber.from100to300">
                                {{ctrl.radios.membersNumber.from100to300}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.membersNumber.greaterThen300">
                                {{ctrl.radios.membersNumber.greaterThen300}}
                            </md-radio-button>
                        </md-radio-group>
                        <h3 class="md-subhead center">Адреса церкви</h3>
                        <md-input-container class="md-block">
                            <label>Область</label>
                            <input ng-required="ctrl.form.student.isChurchMember"
                                   name="churchRegion" ng-model="ctrl.form.student.churchData.region">
                            <div ng-messages="applicationForm.churchRegion.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Місто/село</label>
                            <input ng-required="ctrl.form.student.isChurchMember"
                                   name="churchCityVillage" ng-model="ctrl.form.student.churchData.cityVillage">
                            <div ng-messages="applicationForm.churchCityVillage.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Індекс</label>
                            <input ng-required="ctrl.form.student.isChurchMember"
                                   name="churchIndex" ng-model="ctrl.form.student.churchData.index">
                            <div ng-messages="applicationForm.churchIndex.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Район</label>
                            <input name="churchDistrict" ng-model="ctrl.form.student.churchData.district">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Вулиця, номер будинку</label>
                            <input ng-required="ctrl.form.student.isChurchMember"
                                   name="churchStreetAndHouseNumber" ng-model="ctrl.form.student.churchData.streetAndHouseNumber">
                            <div ng-messages="applicationForm.churchStreetAndHouseNumber.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Телефон</label>
                            <input name="churchPhone" ng-model="ctrl.form.student.churchData.phone">
                        </md-input-container>
                    </div>
                    <div id="church-ministry">
                        <h3 class="md-subhead center">Інформація про служіння</h3>
                        <md-input-container class="md-block">
                            <div layout="row" layout-align="space-between center">
                                <span>Дата покаяння</span>
                                <div layout="column">
                                    <md-select name="repentanceDate"
                                               ng-required="ctrl.form.student.isChurchMember"
                                               ng-model="ctrl.form.student.churchMinistry.repentanceDate">
                                        <md-option ng-repeat="i in ctrl.years" ng-value="i"">{{i}}</md-option>
                                    </md-select>
                                    <div ng-messages="applicationForm.repentanceDate.$error">
                                        <div ng-message="required">Обов'язкове поле.</div>
                                    </div>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <div layout="row" layout-align="space-between center">
                                <span>Дата хрещення</span>
                                <div layout="column">
                                    <md-select name="baptismDate"
                                               ng-required="ctrl.form.student.isChurchMember"
                                               ng-model="ctrl.form.student.churchMinistry.baptismDate">
                                        <md-option ng-repeat="i in ctrl.years" ng-value="i"">{{i}}</md-option>
                                    </md-select>
                                    <div ng-messages="applicationForm.baptismDate.$error">
                                        <div ng-message="required">Обов'язкове поле.</div>
                                    </div>
                                </div>
                            </div>
                        </md-input-container>
                        <h3 class="md-subhead">Яке служіння ви звершуєте?</h3>
                        <md-radio-group class="md-primary" ng-model="ctrl.form.student.churchMinistry.type">
                            <md-radio-button ng-value="ctrl.radios.ministryType.pastor">
                                {{ctrl.radios.ministryType.pastor}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.evangelist">
                                {{ctrl.radios.ministryType.evangelist}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.smallGroupHead">
                                {{ctrl.radios.ministryType.smallGroupHead}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.deacon">
                                {{ctrl.radios.ministryType.deacon}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.musicMinistry">
                                {{ctrl.radios.ministryType.musicMinistry}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.sisterMinistry">
                                {{ctrl.radios.ministryType.sisterMinistry}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.missionary">
                                {{ctrl.radios.ministryType.missionary}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.preacher">
                                {{ctrl.radios.ministryType.preacher}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.youthLeader">
                                {{ctrl.radios.ministryType.youthLeader}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.childMinistry">
                                {{ctrl.radios.ministryType.childMinistry}}
                            </md-radio-button>
                            <md-radio-button ng-value="ctrl.radios.ministryType.other">
                                {{ctrl.radios.ministryType.other}}
                            </md-radio-button>
                        </md-radio-group>
                        <md-input-container ng-show="ctrl.form.student.churchMinistry.type == ctrl.radios.ministryType.other"
                                            class="md-block" id="other-input">
                            <label>Назва служіння</label>
                            <input ng-required="ctrl.form.student.churchMinistry.type == ctrl.radios.ministryType.other"
                                   name="ministryType" ng-model="ctrl.form.student.otherMinistryType">
                            <div ng-messages="applicationForm.ministryType.$error">
                                <div ng-message="required">Обов'язкове поле.</div>
                            </div>
                        </md-input-container>
                        <h3 class="md-subhead">Чи ви рукопокладений служитель?</h3>
                        <md-radio-group class="md-primary" ng-model="ctrl.form.student.isOrdained">
                            <md-radio-button ng-value="true">
                                {{ctrl.radios.answers.yes}}
                            </md-radio-button>
                            <md-radio-button ng-value="false">
                                {{ctrl.radios.answers.no}}
                            </md-radio-button>
                        </md-radio-group>
                        <md-input-container ng-show="ctrl.form.student.isOrdained" class="md-block">
                            <div layout="row" layout-align="space-between center">
                                <span>Дата рукопокладання</span>
                                <div layout="column">
                                    <md-select name="ordinationDate"
                                               ng-required="ctrl.form.student.isChurchMember && ctrl.form.student.isOrdained"
                                               ng-model="ctrl.form.student.churchMinistry.ordinationDate">
                                        <md-option ng-repeat="i in ctrl.years" ng-value="i"">{{i}}</md-option>
                                    </md-select>
                                    <div ng-messages="applicationForm.ordinationDate.$error">
                                        <div ng-message="required">Обов'язкове поле.</div>
                                    </div>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container id="church-participation-input" class="md-block">
                            <label>Опишіть свою участь у житті помісної церкви</label>
                            <textarea name="churchParticipation"
                                      ng-model="ctrl.form.student.churchMinistry.churchParticipation"
                                      ng-required="ctrl.form.student.isChurchMember"
                                      md-maxlength="300"></textarea>
                            <div ng-messages="applicationForm.churchParticipation.$error"
                                 ng-show="applicationForm.churchParticipation.$dirty">
                                <div ng-message="required">Обов'язкове поле.</div>
                                <div ng-message="md-maxlength">Довжина поля перевищує максимально допустиму!</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div id="job">
                <h3 class="md-headline center">Трудова діяльність</h3>
                <h3 class="md-subhead">Ви працюєте?</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.form.student.isWorking">
                    <md-radio-button ng-value="true">
                        {{ctrl.radios.answers.yes}}
                    </md-radio-button>
                    <md-radio-button ng-value="false">
                        {{ctrl.radios.answers.no}}
                    </md-radio-button>
                </md-radio-group>
                <md-input-container id="job-input" ng-show="ctrl.form.student.isWorking" class="md-block">
                    <label>Назва посади</label>
                    <input ng-required="ctrl.form.student.isWorking"
                           name="job" ng-model="ctrl.student.job">
                    <div ng-messages="applicationForm.job.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
            </div>
            <div id="finance">
                <h3 class="md-headline center">Фінансові питання</h3>
                <p class="md-body-1">
                    Навчання в семінарії фінансується за рахунок добровільних пожертвувань церков та
                    окремих християн. Але ми просимо, щоб кожен студент і/або церква, яка рекомендує студента,
                    вносила добровільні пожертування за навчання*. Просимо вас молитовно підійти до цього
                    питання та відмітити наступне:
                </p>
                <h3 class="md-subhead">Яку суму Ви плануєте жертвувати за сесію (один тиждень)?</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.student.donationAmount">
                    <md-radio-button ng-if="ctrl.student.program.name == ctrl.radios.program.prml"
                                     ng-init="ctrl.student.donationAmount = ctrl.radios.donationAmount.uah500"
                                     ng-value="ctrl.radios.donationAmount.uah500">
                        {{ctrl.radios.donationAmount.uah500}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.donationAmount.uah600">
                        {{ctrl.radios.donationAmount.uah600}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.donationAmount.uah700">
                        {{ctrl.radios.donationAmount.uah700}}
                    </md-radio-button>
                    <md-radio-button ng-if="ctrl.student.program.name != ctrl.radios.program.prml"
                                     ng-value="ctrl.radios.donationAmount.uah800">
                        {{ctrl.radios.donationAmount.uah800}}
                    </md-radio-button>
                </md-radio-group>
                <p class="md-body-1">
                    *Вартість однієї сесії складає 600 грн. Кожного навчального року вартість сесії переглядається.
                </p>
                <md-input-container class="md-block">
                    <label>Коментарі</label>
                    <textarea name="financeComments"
                              ng-model="ctrl.student.financeComments"
                              md-maxlength="300"></textarea>
                    <div ng-messages="applicationForm.financeComments.$error">
                        <div ng-message="md-maxlength">Довжина поля перевищує максимально допустиму!</div>
                    </div>
                </md-input-container>
            </div>
            <div id="health-status">
                <h3 class="md-headline center">Стан здоров'я</h3>
                <h3 class="md-subhead">Чи була у вас залежність від наркотиків, алкоголю, тютюну, азартних
                    чи комп'ютерних ігор, окультна залежність?</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.student.healthData.isDrugAddicted">
                    <md-radio-button ng-value="true">
                        {{ctrl.radios.answers.yes}}
                    </md-radio-button>
                    <md-radio-button ng-value="false">
                        {{ctrl.radios.answers.no}}
                    </md-radio-button>
                </md-radio-group>
                <h3 class="md-subhead">Як ви оцінюєте свій загальний стан здоров'я?</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.student.healthData.healthStatus">
                    <md-radio-button ng-value="ctrl.radios.healthStatus.excellent">
                        {{ctrl.radios.healthStatus.excellent}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.healthStatus.good">
                        {{ctrl.radios.healthStatus.good}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.healthStatus.satisfactory">
                        {{ctrl.radios.healthStatus.satisfactory}}
                    </md-radio-button>
                    <md-radio-button ng-value="ctrl.radios.healthStatus.unsatisfactory">
                        {{ctrl.radios.healthStatus.unsatisfactory}}
                    </md-radio-button>
                </md-radio-group>
                <h3 class="md-subhead">Чи приймаєте ви постійно ліки в зв'яку з хронічними захворюваннями?</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.student.healthData.isTakingMedicine">
                    <md-radio-button ng-value="true">
                        {{ctrl.radios.answers.yes}}
                    </md-radio-button>
                    <md-radio-button ng-value="false">
                        {{ctrl.radios.answers.no}}
                    </md-radio-button>
                </md-radio-group>
                <h3 class="md-subhead">Чи може ваш стан здоров'я обмежувати чи заважати навчальному процесу?</h3>
                <md-radio-group class="md-primary" ng-model="ctrl.student.healthData.hasStudyProblems">
                    <md-radio-button ng-value="true">
                        {{ctrl.radios.answers.yes}}
                    </md-radio-button>
                    <md-radio-button ng-value="false">
                        {{ctrl.radios.answers.no}}
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div id="additional-questions">
                <h3 class="md-headline center">Додаткові запитання</h3>
                <h3 class="md-body-1">Своїми словами в довільній формі дайте розгорнуті відповіді на
                    запитання</h3>
                <h3 class="md-subhead">Які причини спонукали вас до навчання у семінарії? Ваші очікування від
                    навчання:</h3>
                <md-input-container class="md-block">
                    <label>Ваша відповідь</label>
                    <textarea name="reasonsToStudy"
                              ng-model="ctrl.student.reasonsToStudy"
                              md-maxlength="300" required></textarea>
                    <div ng-messages="applicationForm.reasonsToStudy.$error"
                         ng-show="applicationForm.reasonsToStudy.$dirty">
                        <div ng-message="required">Обов'язкове поле.</div>
                        <div ng-message="md-maxlength">Довжина поля перевищує максимально допустиму!</div>
                    </div>
                </md-input-container>
                <h3 class="md-subhead">Опишіть коротко як ви прийшли до Бога; етапи вашого духовного
                    становлення та стосунки з Богом на даний момент:</h3>
                <md-input-container class="md-block">
                    <label>Ваша відповідь</label>
                    <textarea name="howCameToGod"
                              ng-model="ctrl.student.howCameToGod"
                              md-maxlength="300" required></textarea>
                    <div ng-messages="applicationForm.howCameToGod.$error"
                         ng-show="applicationForm.howCameToGod.$dirty">
                        <div ng-message="required">Обов'язкове поле.</div>
                        <div ng-message="md-maxlength">Довжина поля перевищує максимально допустиму!</div>
                    </div>
                </md-input-container>
            </div>
            <div id="files">
                <h3 class="md-headline center">Файли</h3>
                <h3 class="md-body-1">
                    Ви можете завантажити лише файли таких форматів: JPG, JPEG, PNG та PDF.
                    Максимальний розмір одного файлу - 5МБ
                </h3>
                <div>
                    <div>
                        <h3 class="md-subhead">Ваше портретне фото:</h3>
                        <lf-ng-md-file-input name="photo" ng-model="ctrl.files.photo"
                                             lf-mimetype="image/jpeg,image/pjpeg,image/png,application/pdf"
                                             lf-files="ctrl.files.photo" lf-required
                                             lf-filesize="5MB"></lf-ng-md-file-input>
                        <div ng-messages="applicationForm.photo.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                            <div ng-message="filesize">Максимальний розмір файлу - 5МБ.</div>
                            <div ng-message="mimetype">Дозволено лише файли JPG, JPEG, PNG та PDF.</div>
                        </div>
                    </div>
                    <div>
                        <h3 class="md-subhead">Фото паспорта (перша, друга сторінки та сторінка з
                            пропискою):</h3>
                        <lf-ng-md-file-input name="passport1" ng-model="ctrl.files.passport1"
                                             lf-mimetype="image/jpeg,image/pjpeg,image/png,application/pdf"
                                             lf-files="ctrl.files.passport1" lf-required
                                             lf-filesize="5MB" progress></lf-ng-md-file-input>
                        <div ng-messages="applicationForm.passport1.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                            <div ng-message="filesize">Максимальний розмір файлу - 5МБ.</div>
                            <div ng-message="mimetype">Дозволено лише файли JPG, JPEG, PNG та PDF.</div>
                        </div>
                        <lf-ng-md-file-input name="passport2" ng-model="ctrl.files.passport2"
                                             lf-mimetype="image/jpeg,image/pjpeg,image/png,application/pdf"
                                             lf-files="ctrl.files.passport2" lf-required
                                             lf-filesize="5MB" progress></lf-ng-md-file-input>
                        <div ng-messages="applicationForm.passport2.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                            <div ng-message="filesize">Максимальний розмір файлу - 5МБ.</div>
                            <div ng-message="mimetype">Дозволено лише файли JPG, JPEG, PNG та PDF.</div>
                        </div>
                        <lf-ng-md-file-input name="passport3" ng-model="ctrl.files.passport3"
                                             lf-mimetype="image/jpeg,image/pjpeg,image/png,application/pdf"
                                             lf-files="ctrl.files.passport3" lf-required
                                             lf-filesize="5MB" progress></lf-ng-md-file-input>
                        <div ng-messages="applicationForm.passport3.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                            <div ng-message="filesize">Максимальний розмір файлу - 5МБ.</div>
                            <div ng-message="mimetype">Дозволено лише файли JPG, JPEG, PNG та PDF.</div>
                        </div>
                    </div>
                    <div>
                        <h3 class="md-subhead">Фото ідентифікаційного номера:</h3>
                        <lf-ng-md-file-input name="idNumber" ng-model="ctrl.files.idNumber"
                                             lf-mimetype="image/jpeg,image/pjpeg,image/png,application/pdf"
                                             lf-files="ctrl.files.idNumber" lf-required
                                             lf-filesize="5MB" progress></lf-ng-md-file-input>
                        <div ng-messages="applicationForm.idNumber.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                            <div ng-message="filesize">Максимальний розмір файлу - 5МБ.</div>
                            <div ng-message="mimetype">Дозволено лише файли JPG, JPEG, PNG та PDF.</div>
                        </div>
                    </div>
                    <div>
                        <h3 class="md-subhead">Фото диплому (в разі відстутності - фото атестату про повну
                            загальну середню освіту) та додаток до нього:</h3>
                        <lf-ng-md-file-input name="diploma1" ng-model="ctrl.files.diploma1"
                                             lf-mimetype="image/jpeg,image/pjpeg,image/png,application/pdf"
                                             lf-files="ctrl.files.diploma1" lf-required
                                             lf-filesize="5MB" progress></lf-ng-md-file-input>
                        <div ng-messages="applicationForm.diploma1.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                            <div ng-message="filesize">Максимальний розмір файлу - 5МБ.</div>
                            <div ng-message="mimetype">Дозволено лише файли JPG, JPEG, PNG та PDF.</div>
                        </div>
                        <lf-ng-md-file-input name="diploma2" ng-model="ctrl.files.diploma2"
                                             lf-mimetype="image/jpeg,image/pjpeg,image/png,application/pdf"
                                             lf-files="ctrl.files.diploma2" lf-required
                                             lf-filesize="5MB" progress></lf-ng-md-file-input>
                        <div ng-messages="applicationForm.diploma2.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                            <div ng-message="filesize">Максимальний розмір файлу - 5МБ.</div>
                            <div ng-message="mimetype">Дозволено лише файли JPG, JPEG, PNG та PDF.</div>
                        </div>
                    </div>
                    <div>
                        <h3 class="md-subhead">Фото медичної довідки форми 086-у:</h3>
                        <lf-ng-md-file-input name="medicalReference" ng-model="ctrl.files.medicalReference"
                                             lf-mimetype="image/jpeg,image/pjpeg,image/png,application/pdf"
                                             lf-files="ctrl.files.medicalReference"
                                             lf-required lf-filesize="5MB" progress></lf-ng-md-file-input>
                        <div ng-messages="applicationForm.medicalReference.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                            <div ng-message="filesize">Максимальний розмір файлу - 5МБ.</div>
                            <div ng-message="mimetype">Дозволено лише файли JPG, JPEG, PNG та PDF.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="eula">
                <md-input-container class="md-block">
                    <md-checkbox name="tos" ng-model="ctrl.tos" required>
                        На всі запитання в даній анкеті я відповідаю чесно та відкрито. Я усвідомлюю, що надання
                        недостовірної інформації веде
                        до автоматичного незарахування або відрахування з семінарії.
                    </md-checkbox>
                    <div ng-messages="applicationForm.tos.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            Ви повинні прийняти умови Семінарії!
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div id="submit">
                <md-button ng-disabled="applicationForm.$invalid || ctrl.submitLock" class="md-raised md-primary"
                           type="submit">
                    Зареєструватися
                </md-button>
                <div id="form-progressbar" ng-show="ctrl.form.progressBar.isVisible">
                    <div id="progress-caption" class="md-caption center">Надсилання даних...</div>
                    <md-progress-linear md-mode="determinate" value="{{ctrl.form.progressBar.counter}}">
                    </md-progress-linear>
                </div>
                <div ng-show="applicationForm.$invalid" class="md-caption form-error-message center error">
                    Необхідно заповнити всі обов'язкові поля та прийняти умови Семінарії!
                </div>
            </div>
        </form>
    </md-card-content>
</md-card>
