<div ng-controller="studentListCtrl as ctrl" layout="row">
    <div id="sidebar">
        <md-card class="year-card" ng-show="ctrl.years">
            <md-card-header>
                Роки
            </md-card-header>
            <md-card-content layout="column" layout-align="space-between">
                <div class="year-list-item" ng-repeat="year in ctrl.years">
                    <md-checkbox ng-model="year.enabled" ng-change="ctrl.onYearsChange()">
                        {{year.value}}
                    </md-checkbox>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <md-progress-circular class="center-screen spinner" md-mode="indeterminate"
                          ng-show="ctrl.isSpinnerVisible"></md-progress-circular>
    <md-card class="wide-card zoom" ng-show="!ctrl.isSpinnerVisible">
        <md-card-header>
            <div layout="row" flex id="search">
                <md-input-container class="md-block" flex>
                    <label>Ім'я абітурієнта або назва факультету</label>
                    <input name="query" ng-model="ctrl.form.query" ng-keyup="ctrl.search()">
                </md-input-container>
            </div>
        </md-card-header>
        <md-card-content layout="column" layout-align="space-between">
            <md-nav-bar nav-bar-aria-label="navigation links" md-selected-nav-item="ctrl.currentNavItem">
                <md-nav-item md-nav-click="ctrl.groupList = true" name="groupList">
                    Список по групах
                </md-nav-item>
                <md-nav-item md-nav-click="ctrl.groupList = false" name="generalList">
                    Загальний список
                </md-nav-item>
            </md-nav-bar>
            <md-list ng-if="ctrl.groupList" class="no-animation">
                <md-list-item class="md-2-line student-list-item"
                              ng-repeat="p in ctrl.programs" ng-show="!ctrl.isSpinnerVisible">
                    <div layout="column" flex>
                        <div layout="row">
                            <h2 class="md-subhead program-header">{{p.name + (p.info ? ' - ' + p.info : '')}}</h2>
                            <md-button ng-if="!p.isVisible" ng-click="p.isVisible = true">
                                <md-icon md-svg-src="img/icons/ic_add_black_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-if="p.isVisible" ng-click="p.isVisible = false">
                                <md-icon md-svg-src="img/icons/ic_remove_black_24px.svg"></md-icon>
                            </md-button>
                        </div>
                        <md-list-item ng-if="p.isVisible" class="md-2-line"
                                      ng-repeat="s in ctrl.form.students | filter: { program: { name: p.name, info: p.info } }"
                                      ui-sref="studentView({studentId: s.id})" target="_blank">
                            <img ng-src="img/icons/ic_account_circle_black_48px.svg" class="md-avatar" alt="Avatar">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <div class="list-item-index"><h3>{{$index + 1}}.</h3></div>
                                    <div class="student-list-item-text">
                                        <h3>{{s.name}}</h3>
                                        <p>{{!s.program.info ? s.program.name : s.program.name + ' - ' + s.program.info}}</p>
                                    </div>
                                    <md-button ng-if="isAdmin" ng-click="ctrl.deleteStudent(s)">
                                        <md-icon md-svg-src="img/icons/ic_delete_black_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <p ng-if="!p.isVisible" class="center md-caption">
                            Список прихований. Натисність +, щоб розгорнути
                        </p>
                    </div>
                </md-list-item>
            </md-list>
            <md-list ng-if="!ctrl.groupList" class="no-animation">
                <md-list-item class="md-2-line student-list-item" ng-show="!ctrl.isSpinnerVisible"
                              ng-repeat="s in ctrl.form.students" ui-sref="studentView({studentId: s.id})" target="_blank">
                    <img ng-src="img/icons/ic_account_circle_black_48px.svg" class="md-avatar" alt="Avatar">
                    <div class="md-list-item-text">
                        <div layout="row">
                            <div class="list-item-index"><h3>{{$index + 1}}.</h3></div>
                            <div class="student-list-item-text">
                                <h3>{{s.name}}</h3>
                                <p>{{!s.program.info ? s.program.name : s.program.name + ' - ' + s.program.info}}</p>
                            </div>
                            <md-button ng-if="isAdmin" ng-click="ctrl.deleteStudent(s)">
                                <md-icon md-svg-src="img/icons/ic_delete_black_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </md-list-item>
                <p class="no-items">Список пустий</p>
            </md-list>
        </md-card-content>
    </md-card>
</div>
