<md-dialog>
<form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h2>Ви успішно зареєструвалися як абітурієнт Української Баптистської Теологічної Семінарії! Вітаємо!</h2>
            <p>Для того, щоб завершити подачу документів, пастор вашої церкви та двоє ваших друзів (які не є родичами)
            повинні заповнити та надіслати нам конфіденційні рекомендації на навчання.</p>
            <p><b>Це можна зробити одним із двох способів:</b></p>
            <p>1. Заповнити рекомендації онлайн;</p>
            <p>2. Завантажити, роздрукувати та заповнити від руки рекомендації та надіслати їх поштою.</label></p>
            <p>Якщо ви оберете перший спосіб, скопіюйте та надішліть своєму пастору наступне посилання на онлайн
                рекомендацію: <i ng-bind="links.link1"></i></p>
            <p>Вашим друзям скопіюйте та надішліть це посилання: <i ng-bind="links.link2"></i></p>
            <p>Для пастора та для друзів відкриється онлайн анкета, заповнення якої займе не більше 10 хвилин.</p>
            <p>Якщо ви оберете другий спосіб, перейдіть на наш сайт за посиланням
                <a href="https://{{links.link3}}" target="_blank"><i>{{links.link3}}</i></a>, завантажте та роздрукуйте
                документи: рекомендацію пастора в кількості 1 шт., рекомендація друга в кількості 2 шт. Передайте їх
                особам, які будуть заповнювати їх для вас. Заповнені рекомендації пастор та ваші друзі повинні вкласти
                в конверт та відправити за адресою: 79016, місто Львів, вулиця Війтовича 9а, Приймальна комісія УБТС,
                або особисто принести до семінарії.</p>
            <p>Після отримання нами всіх необхідних рекомендацій ми надішлемо вам запрошення на співбесіду на
                електронну пошту, зазначену в анкеті.</p>
            <p>Якщо у вас виникнуть питання щодо вступу, ви можете написати нам: new.student.ubts@gmail.com</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="hide()">
            Закрити
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>
